<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <title>Crud Test</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
    </head>
  
    </head>
    <body>
        <div class="container">
            <h1>Message Application</h1>